# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  customize: !include src/customize.yaml

lovelace:
  mode: yaml
  dashboards: !include src/lovelace/dashboards.yaml
  resources: !include src/lovelace/resources.yaml

frontend:
  themes: !include_dir_merge_named src/frontend/themes

automation: !include src/automations.yaml
script: !include src/scripts.yaml
scene: !include src/scenes.yaml

emulated_hue:
  listen_port: 80
  host_ip: 192.168.1.186
  expose_by_default: false

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1

bluetooth:

device_tracker:
  - platform: bluetooth_le_tracker
  - platform: xiaomi
    host: 192.168.0.243
    password: KashtbhanjanDev

tts:
  - platform: google_translate
    language: "en"
    cache: true
    cache_dir: /config/tts
    time_memory: 300

notify:
  - name: bhavya_email
    platform: smtp
    server: smtp.gmail.com
    port: 587
    timeout: 15
    sender: "bhavyarupani@gmail.com"
    encryption: starttls
    username: "bhavyarupani@gmail.com"
    password: !secret gmail_app_password
    recipient:
      - "bhavyarupani@gmail.com"
    sender_name: "Home Assistant"

input_number: !include_dir_merge_named src/helpers
sensor: !include_dir_merge_list src/sensors
utility_meter: !include_dir_merge_named src/utility_meters

template:
  - !include src/sidebar.yaml
  - !include src/templates/electricity.yaml
  - !include src/templates/water.yaml
  - !include src/templates/heating.yaml
