name: HA - Revert to master now

on:
  workflow_dispatch:

jobs:
  revert:
    name: Revert HA to master now
    runs-on: self-hosted


    steps:
      - name: Revert HA to master now
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HA_SSH_HOST }}
          username: ${{ secrets.HA_SSH_USER }}
          key: ${{ secrets.HA_SSH_KEY }}
          port: ${{ secrets.HA_SSH_PORT }}
          script: |
            set -e
      
            cd /homeassistant
      
            sudo git config --global --add safe.directory /homeassistant
            sudo git fetch --all --prune
            sudo git checkout master
            sudo git reset --hard origin/master
      
            # write build label file
            SHA="$(sudo git rev-parse --short HEAD)"
            TAG="$(sudo git describe --tags --exact-match 2>/dev/null || true)"
            TS="$(date -Iseconds)"
            sudo tee /config/.ha_build_info >/dev/null <<EOF
            mode=master
            branch=master
            tag=$TAG
            sha=$SHA
            timestamp=$TS
            EOF
      
            # restart HA
            sudo ha core restart
