name: YAML lint

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: pipx install yamllint

      - name: yamllint
        run: |
          yamllint -d "{extends: default, rules: {line-length: {max: 160, level: warning}}}" .
